.button1{
  color: white;
  cursor: pointer;
  background-color: black;
  font-weight: bold;
  border: 2px solid black;
  height: 30px;
  width: 200px;
  border-radius: 5px;
}

.button1:hover{
  transform: scale(1.05);
  border-radius: 5px;
}

.glogo{
  width: 20px;
  height: 20px;
}

.SignInWithGoogle{
  color: black;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
  border: 2px solid white;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignInWithGoogle:hover{
  transform: scale(1.05);
  border-radius: 5px;
}