.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    transform: scaleX(1.05);
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    align-items: center;
    background-color:#edeaeb;
    border-radius: 15px;
}

.labeldiv,
.forgotpassword  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 10px;
    padding: 0px;
}

.labeldiv p,
.labeldiv input,
.forgotpassword {
    margin: 0; /* Remove extra margins */
    padding: 0; /* Remove extra padding */
    border: none; /* Optional: Remove any unwanted border spacing */
}

.OTP{
    display: flex;
    flex-direction: row;
}